.Rproj.user
.Rhistory
.RData
.Ruserdata
assignments/assignment_3/app_data_sample.parquet
assignments/assignment_3/edges_sample.csv
assignments/assignment_3/app_data_clean.parquet
assignments/final_project/report_cache/
assignments/final_project/report_files/
*.DS_Store
